<ion-header id="header">
  <ion-toolbar *ngIf="head">
    <button style="display:none;" id="dummy"></button>
    <ion-buttons slot="start">
      <ion-menu-button menu="start"></ion-menu-button>
    </ion-buttons>
    <ion-title (press)="bookmark()">{{data.room.na}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="end">
        <ion-icon name="contacts"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-webrtc [rtc]="rtc" (stop)="rtc=''"></app-webrtc>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="ligth">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="test()" color="light">
        <ion-icon *ngIf="head" name="arrow-dropup"></ion-icon>
        <ion-icon *ngIf="!head" name="arrow-dropdown"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="rtc" (click)="rtcClose()" color="danger">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="!rtc" (click)="rtcOpen('headset')" color="primary">
        <ion-icon name="headset"></ion-icon>
      </ion-fab-button>
      <ng-container *ngIf="data.user.id">
        <ng-container *ngIf="!rtc">
          <ion-fab-button (click)="rtcOpen('mic')" color="warning">
            <ion-icon name="mic"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="rtcOpen('videocam')" color="danger">
            <ion-icon name="videocam"></ion-icon>
          </ion-fab-button>
        </ng-container>
        <ion-fab-button (click)="logout()" color="dark">
          <ion-icon name="log-out"></ion-icon>
        </ion-fab-button>
      </ng-container>
    </ion-fab-list>
  </ion-fab>
  <router-outlet></router-outlet>
  <ion-fab *ngIf="data.user.id && data.room.chat" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="fab('post')" color="ligth">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="!data.user.id" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="ligth">
      <ion-icon name="log-in"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="twitter" (click)="fab('twitter')">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="google" (click)="fab('google')">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="fab('facebook')">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
<ion-footer id="footer" *ngIf="data.room.chat">
  <ion-label *ngIf="writer" id="writer">{{writer}}</ion-label>
  <ion-toolbar *ngIf="data.post && data.user.id">
    <ion-item>
      <ng-container *ngIf="uploadPercent|async as percent;else sendbox">
        <ion-progress-bar [value]="percent/100"></ion-progress-bar>{{percent|number:'1.0-0'}}%
      </ng-container>
      <ng-template #sendbox>
        <ion-button [color]="addcolor" (click)="mediaButton.add=!mediaButton.add" (press)="mediaCancel()">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
        <ion-buttons *ngIf="mediaButton.add">
          <ion-button clear icon-only (click)="mediaButton.img=!mediaButton.img">
            <ion-icon color="success" name="image"></ion-icon>
          </ion-button>
          <input *ngIf="mediaButton.img" id="upimg" type="file" accept="image/*" capture="camera" (change)="fileup($event)" />
          <ion-button clear icon-only (click)="mediaButton.url=!mediaButton.url" (press)="twitterPress()">
            <ion-icon color="twitter" name="logo-twitter"></ion-icon>
          </ion-button>
          <ion-button clear icon-only (click)="mediaButton.url=!mediaButton.url" (press)="youtubePress()">
            <ion-icon color="google" name="logo-youtube"></ion-icon>
          </ion-button>
          <ng-container *ngIf="mediaButton.url">
            <input id="url" type="text" placeholder="youtubeやtwitterなどのurl" (change)="urlClick($event)">
          </ng-container>
        </ion-buttons>
        <div class="tiny"></div>
        <ion-button [disabled]="!sendable" (click)="send()">
          <ion-icon name="ios-send"></ion-icon>
        </ion-button>
      </ng-template>
    </ion-item>
  </ion-toolbar>
  <canvas style='display:none;'></canvas>
</ion-footer>
<!--
    <div [class.none]="!data.user.id||!data.room.chat">




  <ion-button *ngIf="data.rtc" (click)="closeRtc()" color="light">
        <ion-icon name="close"></ion-icon>切断
      </ion-button>
      <ion-button *ngIf="!data.rtc" (click)="rtc('headset')" color="primary">
        <ion-icon name="headset"></ion-icon>視聴
      </ion-button>
      <ng-container *ngIf="data.user.id">
        <ng-container *ngIf="!data.rtc">
          <ion-button color="warning" (click)="rtc('mic')">
            <ion-icon name="mic"></ion-icon>音声
          </ion-button>
          <ion-button color="danger" (click)="rtc('videocam')">
            <ion-icon name="videocam"></ion-icon>動画
          </ion-button>
        </ng-container>
        <ion-button (click)="logout()" color="dark">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ng-container>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <ion-item *ngIf="!data.user.id" button="true" (click)="login()">
      ログインしてコミュニケーションを楽しもう
      <ion-icon class="twitter" name="logo-twitter"></ion-icon>
      <ion-icon class="facebook" name="logo-facebook"></ion-icon>
      <ion-icon class="google" name="logo-google"></ion-icon>
      <ion-icon class="yahoo" name="logo-yahoo"></ion-icon>
    </ion-item>
  
  
  
  
  
  
  
  
  
  
  
  -->