textarea{width:100%;}
#writer{height: 10px;margin:0;padding:0;}
.video{color:red;}
.tiny{
  width:100%;
  min-height: 3em;
  border:2px dotted #0B85A1;
  border-radius: 8px;
}
.none{
  display:none;
}
.facebook{
  color:#305097 ;
}
.twitter{
  color: #00aced;
}
.google{
  color:#db4a39
}
.yahoo{
  color:#FF0027
}
.actionyahoo{
  ion-icon{
    color:red;
  }
}
